RewriteEngine On
RewriteRule ^([a-zA-Z_-]*)$ index.php?action=$1
RewriteRule ^([a-zA-Z_-]*)/(\d{4}-\d{2}-\d{2})/(\d{4}-\d{2}-\d{2})  index.php?action=$1&fecha_inicial=$2&fecha_final=$3 [L,QSA]
RewriteRule ^([a-zA-Z_-]*)/([0-9]+) index.php?action=$1&id=$2 [L,QSA]